<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <ul>
      <li>
        <a href = "/">
          <h1> Found_4_lapi </h1>
        </a>
      </li>
      <li>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Dropdown</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Собака</a>
            <a href="#">Кошка</a>
          </div>
        </div>
      </li>
      <li>      
        <a href = "/">
          <h1> отзывы </h1>
        </a>
      </li>
      <li>       
        <a href = "/">
          <h1> полезная информация </h1>
        </a>
      </li>
      <li>
        <a href = "/">
          <h1> сдать животное </h1>
        </a>
      </li>
    </ul>

  </div>
</body>
</html>